.content-header {
    margin-top: 60px;
}

.content-header .alert i.icon {
    padding-right: 1em;
}

dt,
dd {
    padding: 4px 0;
}

.pagination {
    margin-top:0;
}

.panel_toolbox {
    min-width: inherit;
}

a {
    color: #337ab7;
}

.breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
}
